Repository hmcts/pdm-interfaces, pull requests merged in 2024-08, with the labels that each got.

#134 Feature/pdda 393d
  src/main/java/uk/gov/hmcts/PdmanagerSpringbootApplication.java
  src/main/resources/application.properties
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-134

#135 added JUnit tests
  README.md
  src/main/java/uk/gov/hmcts/PdmanagerSpringbootApplication.java
  src/test/java/uk/gov/hmcts/PdmanagerSpringbootApplicationTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-135

#140 changed logs
  src/main/java/uk/gov/hmcts/PdmanagerSpringbootApplication.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-140

#141 added full stop
  README.md
  src/test/java/uk/gov/hmcts/PdmanagerSpringbootApplicationTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-141

#142 adding client ID
  src/main/resources/application.properties
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-142

#143 pdda-398 Add an error pointing at what entry is missing when data is …
  src/main/java/uk/gov/hmcts/quartz/QuartzSubmitJobs.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-143

#150 Changes to CDU getNextIpHost method removing the need for BigDecimal …
  src/main/java/uk/gov/hmcts/pdm/business/entities/xhbdispmgrcdu/XhbDispMgrCduRepository.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduService.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduRegistrationTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-150

#152 pdda-393 Add the OAuth2Helper and add logging for values.
  src/main/java/uk/gov/hmcts/PdmanagerSpringbootApplication.java
  src/main/java/uk/gov/hmcts/config/WebAppInitializer.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/initialization/InitializationService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/OAuth2Helper.java
  src/test/java/uk/gov/hmcts/PdmanagerSpringbootApplicationTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/initialization/InitializationServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/config/ApplicationConfigurationTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/OAuth2HelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-152

#153 pdda-393 Add a check for which clientId is being used.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/config/ApplicationConfiguration.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-153

#154 pdda-393 Correct the unit tests
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/config/ApplicationConfiguration.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/config/ApplicationConfigurationTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-154

#155 pdda-393 Rename AZURE_xxxx environment variables to PDDA_AZURE_xxxx b…
  Jenkinsfile
  README.md
  charts/pdda-public-display-manager/Chart.yaml
  charts/pdda-public-display-manager/values.yaml
  src/main/resources/application.properties
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-155

#166 pdda-409 Prevent bean creation when not using local authentication.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-166

#169 pdda-409 Add an override on the oauth configure.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-169

#173 Feature/pdda 410
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/common/test/AbstractHttpClientTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-173

#174 Added hikari debugging, increased pool size to align with pdda
  src/main/resources/application.properties
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-174

#178 pdda-409 Rename pdm-public-display-manager to pdm-public-display-manager
  charts/pdda-public-display-manager/Chart.yaml
  charts/pdda-public-display-manager/values.yaml
  lib/applicationinsights.json
  src/main/resources/application.yaml
  src/smokeTest/resources/application-smoke.yaml
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-178
