Repository hmcts/pdm-interfaces, pull requests merged in 2024-09, with the labels that each got.

#190 Make ports line up
  Dockerfile
  src/main/resources/application.yaml
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-190

#204 pdda-409 Update the dependancies and correct a checkstyle issue.
  build.gradle
  src/main/java/uk/gov/hmcts/quartz/QuartzConfig.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-204

#214 Add the springboot security entries to application.properties.
  src/main/resources/application.properties
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-214

#216 Remove LDAP as it maybe conflicting with Azure login.
  build.gradle
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/main/resources/application.properties
  src/main/resources/test-server.ldif
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-216

#217 Add a WebSecurityCustomizer to ignore the Health page in the security…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-217

#218 Add Login to the whitelist.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-218

#219 Correct the whitelist entry for login
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-219

#229 Fix build issue.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-229

#230 Force the azure login to appear.
  .project
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-230

#234 Add internal o auth2
  build.gradle
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/AuthConfigurationProperties.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/AuthProviderConfigurationProperties.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/AuthenticationException.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/InternalAuthConfigurationProperties.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/InternalAuthProviderConfigurationProperties.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/main/resources/application.properties
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/InternalAuthConfigurationPropertiesTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/InternalAuthProviderConfigurationPropertiesTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-234

#240 Add uri provider
  build.gradle
  lombok.config
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/AuthenticationConfigurationPropertiesStrategy.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/InternalAuthConfigurationPropertiesStrategy.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/RequestMatcher.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/InternalAuthConfigurationPropertiesStrategyTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-240
