Repository hmcts/pdm-interfaces, pull requests merged in 2024-10, with the labels that each got.

#243 Add the whitelist to login so errors are displayed correctly.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-243

#244 Update springboot logic
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonControllerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-244

#245 Add /auth/internal/callback to the whitelist
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-245

#246 Fix login
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-246

#249 Add the receiver for 'code' to the callback method
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/client/OAuthClient.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/client/OAuthClientImpl.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/component/TokenValidator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/component/TokenValidatorImpl.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/dao/AzureDao.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/dao/AzureDaoImpl.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/exception/AuthenticationError.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/exception/AzureDaoException.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/exception/PddaApiError.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/exception/PddaApiException.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/model/JwtValidationResult.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/model/OAuthProviderRawResponse.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/model/SecurityToken.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/service/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/client/OAuthClientImplTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/component/TokenValidatorImplTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/dao/AzureDaoImplTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/exception/AuthenticationErrorTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/exception/PddaApiExceptionTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/model/SecurityTokenTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/service/AuthenticationServiceImplTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-249

#259 Add auth code into callback
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/AuthenticationConfigurationPropertiesStrategy.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/client/OAuthClient.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/client/OAuthClientImpl.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/component/TokenValidatorImpl.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/dao/AzureDaoImpl.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/service/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/client/OAuthClientImplTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/dao/AzureDaoImplTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-259

#263 Add to whitelist
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/AuthenticationConfigurationPropertiesStrategy.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/controller/AbstractUserController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/controller/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/dashboard/DashboardController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/controller/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-263

#270 Reinstate the. login screen as a start point for the app.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-270

#274 Simplified login
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonControllerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-274

#278 Add the JWT resource server.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-278

#279 If the entityManager is closed then assign a new one.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduServHelperRepos.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtRoomServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/DisplayServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/HearingTypeServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/HousekeepingRepository.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/LocalProxyServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RagStatusRepository.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeTypeServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/ServiceAuditService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UrlService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UserDetailsServiceRepository.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-279

#280 Fix sonarqube coverage.
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtRoomServiceEmptyTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtRoomServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/DisplayCrudTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/DisplayServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/HearingTypeServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/LocalProxyServiceTestBase.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeServiceUtility.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/InternalAuthProviderConfigurationPropertiesTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/authentication/service/AuthenticationServiceImplTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-280

#281 Increase test coverage.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RagStatusRepository.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UrlService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UserDetailsServiceRepository.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduCourtSiteUtility.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduRegistrationTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduServiceTestBase.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RagStatusOverallTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RagStatusServiceTestBase.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UrlServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UserDetailsServiceTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-281

#285 Removing roles for sidebar and 1 screen for testing purposes
  src/main/webapp/WEB-INF/jsp/common/sidebar.jsp
  src/main/webapp/WEB-INF/jsp/judge/view_judge.jsp
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-285

#291 Add code to call back
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonControllerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-291

#298 Add back the old web security config
  src/main/java/com/pdm/hb/jpa/AuthorizationUtil.java
  src/main/java/uk/gov/hmcts/pdm/business/entities/xhbdispmgrlocalproxy/XhbDispMgrLocalProxyRepository.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/domain/DomainInterceptor.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/LocalProxyRestCduFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UserDetailsService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/config/AuthoriizationUtilTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/domain/DomainInterceptorTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduScreenshotTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UserDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonControllerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-298

#299 Increase code coverage
  src/test/java/uk/gov/hmcts/config/AuthorizationUtilTest.java
  src/test/java/uk/gov/hmcts/config/RepositoryUtilTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-299

#300 Add the whitelist functionality and get the /home to redirect to logi…
  src/main/java/com/pdm/hb/jpa/AuthorizationUtil.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/config/AuthorizationUtilTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-300

#301 Add the callback to the whitelist.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-301

#302 Increase coverage
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduServiceReposTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtRoomServiceFinderTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/DisplayServiceFinderTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-302

#303 Increase test coverage.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/ServiceAuditService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UrlService.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeTypeServiceFinderTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/ServiceAuditServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UrlServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UserDetailsServiceRepositoryTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-303

#305 Add the callback back in as Azure hangs on the /login/oauth2/code/int…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/LogonControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-305

#307 Fix sonarqube issues.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-307

#311 Add session timeout and session creation to always to try and remove …
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/main/resources/application.yaml
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-311
