Repository hmcts/pdm-interfaces, pull requests merged in 2024-05, with the labels that each got.

#77 Remove the pdm path from the application to allow kubernetes pod to a…
  charts/pdda-public-display-manager/Chart.yaml
  charts/pdda-public-display-manager/values.yaml
  csrfguard.properties
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/PdmanagerSpringbootApplication.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/main/resources/application.properties
  src/main/webapp/WEB-INF/applicationContext-security.xml
  src/main/webapp/WEB-INF/jsp/proxies/amend_localproxy.jsp
  src/main/webapp/WEB-INF/web.xml
  src/main/webapp/index.jsp
  src/main/webapp/js/amend_court.js
  src/main/webapp/js/amend_courtroom.js
  src/main/webapp/js/amend_display.js
  src/main/webapp/js/amend_hearing.js
  src/main/webapp/js/amend_judge.js
  src/main/webapp/js/amend_judgetype.js
  src/main/webapp/js/cdus.js
  src/main/webapp/js/dashboard.js
  src/main/webapp/js/delete_courtroom.js
  src/main/webapp/js/delete_display.js
  src/main/webapp/js/delete_judge.js
  src/main/webapp/js/pdm-common.js
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-77

#80 Add the smoke tests
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/controller/LogonControllerSmokeTest.java
  src/smokeTest/resources/application-smoke.yaml
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-80

#83 Fix smoke tests
  Jenkinsfile
  src/smokeTest/java/uk/gov/hmcts/controller/LogonControllerSmokeTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-83

#86 Feature/pdda 260 newest
  Jenkinsfile
  README.md
  build.gradle
  charts/pdda-public-display-manager/Chart.yaml
  charts/pdda-public-display-manager/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/main/resources/application.properties
  src/main/webapp/WEB-INF/jsp/common/header.jsp
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-86
