Repository hmcts/pdm-interfaces, pull requests merged in 2025-02, with the labels that each got.

#395 PDDA-474 Adding logging
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgePageStateSetter.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeShowControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-395

#396 PDDA-474 Adding a check to fetch a new list of sites if the current l…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgePageStateSetter.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeShowControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-396

#401 PDDA-474 Adding logging
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgePageStateHolder.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-401

#407 Defect/pdda 474
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgePageStateSetter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeShowControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-407

#411 Defect/pdda 474
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgePageStateSetter.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-411

#413 Defect/pdda 474
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingTypePageStateHolder.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingTypePageStateHolderTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-413

#414 Defect/pdda 474
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgePageStateHolder.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeShowControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-414

#416 Defect/pdda 474
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtPageStateHolder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/courtroom/CourtRoomPageStateHolder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judgetype/JudgeTypePageStateHolder.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtPageStateHolderTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/courtroom/CourtRoomPageStateHolderTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judgetype/JudgeTypePageStateHolderTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-416

#417 Defect/pdda 474
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduPageStateHolder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/proxies/LocalProxyPageStateHolder.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-417

#419 PDDA-474 Add the cors configuration.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-419

#420 PDDA-474 Adding missing cleardown blocks
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/HousekeepingRepository.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/ServiceAuditService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UrlService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UserDetailsServiceRepository.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/ServiceAuditServiceEntityManagerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UrlServiceEntityManagerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/UserDetailsServiceRepositoryTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-420

#421 PDDA-474 Add the error to the browser console log
  src/main/webapp/js/amend_courtroom.js
  src/main/webapp/js/amend_hearing.js
  src/main/webapp/js/amend_judgetype.js
  src/main/webapp/js/delete_courtroom.js
  src/main/webapp/js/delete_display.js
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-421

#424 PDDA-474 Adjusting CORS Origin and fixing typo in JS resetHearingType…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/logon/WebSecurityConfig.java
  src/main/webapp/js/amend_hearing.js
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-424

#432 Pdda474 populateamend
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgePageStateSetter.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeControllerBaseTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeShowControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-432

#434 Pdda474 populateamend
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeShowControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-434

#439 Pdda474 populateamend
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtPageStateSetter.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/courtroom/CourtRoomController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/courtroom/CourtRoomPageStateSetter.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayPageStateSetter.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingTypeController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingTypePageStateSetter.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judgetype/JudgeTypeController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judgetype/JudgeTypePageStateSetter.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/courtroom/CourtRoomControllerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayControllerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingControllerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeShowControllerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judgetype/JudgeTypeControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-439

#441 pdda-474 Add extra debug to highlight when a selected court is found.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayPageStateSetter.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingTypePageStateSetter.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judgetype/JudgeTypePageStateSetter.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-441

#449 Pdda474 make load hearing type stateless
  src/main/java/uk/gov/hmcts/pdm/business/entities/xhbrefhearingtype/XhbRefHearingTypeDao.java
  src/main/java/uk/gov/hmcts/pdm/business/entities/xhbrefhearingtype/XhbRefHearingTypeRepository.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/HearingTypeService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/api/IHearingTypeService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingTypeController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingTypePageStateSetter.java
  src/test/java/uk/gov/hmcts/pdm/business/entities/xhbrefhearingtype/XhbRefHearingTypeRepositoryTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/HearingTypeServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingControllerTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingErrorController.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-449
