Repository hmcts/pdm-interfaces, pull requests merged in 2025-03, with the labels that each got.

#450 PDDA-474 Make loadJudgeType stateless
  src/main/java/uk/gov/hmcts/pdm/business/entities/xhbrefsystemcode/XhbRefSystemCodeDao.java
  src/main/java/uk/gov/hmcts/pdm/business/entities/xhbrefsystemcode/XhbRefSystemCodeRepository.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/AbstractService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtRoomService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtRoomServiceCreator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtRoomServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtServiceCreator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/DisplayService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/DisplayServiceCreator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/DisplayServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/HearingTypeService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/HearingTypeServiceCreator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/HearingTypeServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeServiceCreator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeTypeService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeTypeServiceCreator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeTypeServiceFinder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/api/IRefJudgeTypeService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judgetype/JudgeTypeController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/AbstractServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtRoomServiceFinderTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtRoomServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtServiceFinderTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/HearingTypeServiceFinderTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/HearingTypeServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeTypeServiceFinderTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeTypeServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judgetype/JudgeTypeControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-450

#451 PDDA-474 Make loadCourtSite stateless
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/api/ICourtService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtControllerErrorTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-451

#454 PDDA-474 Make loadCourtRoom() stateless
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/AbstractService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtRoomService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/api/ICourtRoomService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/courtroom/CourtRoomController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtRoomServiceEmptyTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CourtRoomServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/courtroom/LoadCourtRoomsControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-454

#457 Pdda474 make display stateless
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/DisplayService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/DisplayServiceCreator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/api/IDisplayService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/DisplayServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayControllerBaseTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayControllerErrorTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-457

#459 pdda-474 Reorder the population of the display list.
  charts/pdda-public-display-manager/Chart.yaml
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/DisplayService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-459

#462 pdda-474 Populate the display.courtsite
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayController.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-462

#464 pdda-474 Stop the clear of searccommand i the reset
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtPageStateHolder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/courtroom/CourtRoomPageStateHolder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judgetype/JudgeTypePageStateHolder.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtPageStateHolderTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/courtroom/CourtRoomPageStateHolderTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judgetype/JudgeTypePageStateHolderTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-464

#463 PDDA-474 Make judge stateless
  src/main/java/uk/gov/hmcts/pdm/business/entities/xhbrefsystemcode/XhbRefSystemCodeDao.java
  src/main/java/uk/gov/hmcts/pdm/business/entities/xhbrefsystemcode/XhbRefSystemCodeRepository.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/api/IRefJudgeService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeServiceTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/RefJudgeServiceUtility.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeControllerBaseTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-463

#466 PDDA-474 Removing the reset search command from the Display and Judge…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayPageStateHolder.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgePageStateHolder.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayPageStateHolderTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgePageStateHolderTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-466

#469 PDDA-474 Removing check to xhibitCourtSideId on Amend JudgeType
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judgetype/JudgeTypeAmendValidator.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judgetype/JudgeTypeAmendValidatorTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-469

#470 PDDA-474 Removing validation on courtID for amend Court
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtAmendValidator.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtAmendValidatorTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-470

#474 PDDA-474 Populating null fields so auto population works on Delete Di…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/DisplayService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/api/IDisplayService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayControllerBaseTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/display/DisplayControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-474

#475 PDDA-474 Adding in a check to get courtId from judges if courtSite is…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeCrudControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-475

#476 PDDA-474 Reverting previous commit to Judge Create
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/judge/JudgeCrudControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-476

#483 PDDA-474 Adding courtId and addressId to the courtCreateCommand for c…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtCreateCommand.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtCreateValidator.java
  src/main/webapp/WEB-INF/jsp/court/create_court.jsp
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtControllerErrorTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/court/CourtControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-483

#486 PDDA-474 Refreshing pageStateSelection lists and current courtSite fo…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/proxies/LocalProxyAmendCommand.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/proxies/LocalProxyAmendValidator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/proxies/LocalProxyController.java
  src/main/webapp/WEB-INF/jsp/proxies/amend_localproxy.jsp
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/proxies/LocalProxyAmendValidatorTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/proxies/ShowAmendLocalProxyTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/proxies/UpdateLocalProxyTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-486

#487 PDDA-474 Adding courtId to the hearingTypeCreateCommand for createHea…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingTypeController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingTypeCreateCommand.java
  src/main/webapp/WEB-INF/jsp/hearing/create_hearing.jsp
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/hearing/HearingControllerTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-487

#496 PDDA-474 Refresh the search for CDU path with a new site list after s…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CdusController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/ShowCduTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-496

#498 pdda-474 Make cdu info stateless.
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CdusController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CdusControllerUtility.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduShowAmendTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/ShowCduTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-498

#499 PDDA-474 Using cduService to get selected cdu rather than pageStateHo…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduServHelperFind.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/api/ICduService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduAmendCommand.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduAmendController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduAmendValidator.java
  src/main/webapp/WEB-INF/jsp/cdus/amend_cdu.jsp
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduSiteIdTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduAmendValidatorTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-499

#500 PDDA-474 Refreshing the cdu lists before loading cdu information screen
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CdusControllerUtility.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduShowAmendTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/ShowCduTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-500

#501 PDDA-474 Setting the cduPageStateHolder cdus after fetching them from…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CdusControllerUtility.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduRedirectToUrlPage.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduShowAmendTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/RestartCduTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/ShowCduTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/ShowRegisterCduTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-501

#507 Feature/pdda 474 cdu url mappings
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/AbstractMappingValidator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduUrlManagementController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/MappingAddValidator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/MappingRemoveValidator.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduUrlMappingTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/MappingAddValidatorTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/MappingAddValidatorUrlTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/MappingRemoveValidatorTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-507

#509 Feature/pdda 474 show cdu register
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduServHelperFind.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduRegistrationController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/ShowRegisterCduTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/TestCdus.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-509

#510 Feature/pdda 474 register cdu
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduServHelperCrud.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/api/ICduService.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/AbstractCduCommand.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/AbstractCduValidator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduAmendController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduRegisterValidator.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduRegistrationController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduUrlManagementController.java
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CdusControllerUtility.java
  src/main/webapp/WEB-INF/jsp/cdus/register_cdu.jsp
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/service/CduRegistrationTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduRedirectToUrlPage.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduSearchSelectedValidatorTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduShowAmendTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduUnregisterValidatorTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/RestartCduTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/ShowCduTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/ShowRegisterCduTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-510

#511 PDDA-474 Refreshing sites and schedules before validator starts on re…
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/proxies/LocalProxyController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/proxies/RegisterLocalProxyTest.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/proxies/UnregisterLocalProxyTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-511

#512 PDDA-474 Refreshing sites before unregister CDU validation
  src/main/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/CduRegistrationController.java
  src/test/java/uk/gov/hmcts/pdm/publicdisplay/manager/web/cdus/ShowRegisterCduTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-manager-pr-512
